body{
    background-color: bisque;
    
}
#join{
    font-size: larger;
}

.box{
    border-radius: 5px;
    background-color: rgb(231, 245, 200);
    width: 500px ;
    height: 300px ;
    text-align: center;
    margin: auto;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}

