{% extends "base.html" %}

<!-- body content of the page -->
{% block body %}

<body>
        <div class="container" style="width: 80%; margin:10%;">
            <h1>SurroundScan: Discover Your World with Precision</h1>
            <p>Welcome to SurroundScan, the innovative map exploration tool that goes beyond boundaries. Using your IP address, 
                SurroundScan dynamically places you on the map, offering a tailored experience to explore your surroundings effortlessly.</p>
            
        </div>
    
</body>

{% endblock %}