{% extends "base.html" %}
<!-- body content of the page -->
{% block body %}


<body>
    <h1>welcome to login page</h1>
    <div class="container">
        <div class="form1">
            <form action="" method="post">
                <label for="username">Username：</label></br>
                <input type="text" id="uname" name="username" required><br><br>
                <label for="password">Password：</label></br>
                <input type="password" id="pwd" name="password" required><br><br>
                <input type="submit" value="Submit"></br>
            </form>
        </div>
    </div>
</body>
{% endblock %}