{% extends "base.html" %}

<!-- body content of the page -->
{% block body %}


<body>
    <div class="container">
        <h2>Weclome to register home</h2>
        <div class="form1">
            <form action="{{url_for('getRegisterForm')}}" method="post">
                <label for="username">Username：</label></br>
                <input type="text" id="uname" name="username" placeholder="Your Username" required><br><br>

                <label for="email">Email：</label></br>
                <input type="email" id="email" name="email" placeholder="Email Address"required><br><br>

                <label for="password">Password：</label></br>
                <input type="password" id="pwd" name="password" placeholder="Password"required><br><br>

                <label for="confirm_password">Repeated-password：</label></br>
                <input type="password" id="rep_pwd" name="repeated_password" placeholder="Repeated Password" required><br><br>

                <button type="submit">Submit</button></br>
            </form>
        </div>
    </div>
</body>
{% endblock %}