{% extends "base.html" %}

<!-- body content of the page -->
{% block body %}


<body>
    <div class="container">
        <h2>Weclome to register home</h2>
        <div class="form1">
            <form action="" method="post">
                <label for="username">Username：</label></br>
                <input type="text" id="uname" name="username" required><br><br>

                <label for="email">Email：</label></br>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password：</label></br>
                <input type="password" id="pwd" name="password" required><br><br>

                <label for="confirm_password">Confirm Password：</label></br>
                <input type="password" id="con_pwd" name="confirm_password" required><br><br>



                <input type="submit" value="Submit"></br>
            </form>
        </div>
    </div>
</body>
{% endblock %}